{% extends "base.html" %}

{% load static %}

{% block html_attribute %}{% endblock html_attribute %}

{% block title %}{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block body_attribute %}{% endblock body_attribute %}

{% block content %}

{% block preloader %}{% endblock preloader %}

<div class="wrapper">

    {% include 'partials/menu.html' %}    

    <div class="page-content">

        <div class="page-container pt-4">

            {% block page_title %}{% endblock page_title %}
            
            {% if messages %}
                <div class="row mt-3">
                    <div class="col-12">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags|cut:'error'|default:'success' }} alert-dismissible fade show" role="alert">
                                <i class="ti ti-check-circle me-1"></i> {{ message }}
                                <button type=\"button\" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% block page_content %}{% endblock page_content %}
        </div>

        {% include 'partials/footer.html' %}
    </div>
</div>

{% include 'partials/customizer.html' %}

{% include 'partials/footer-scripts.html' %}

{% block modal %}{% endblock modal %}

{% endblock content %}

{% block extra_javascript %}{% endblock extra_javascript %}